* {
    box-sizing: border-box;
}

.message {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.07em;
    background: #a8e700;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 90px;
    width: 330px;
}

.avatar {
    display: flex;
    align-items: end;

}

.avatar img {
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    width: 60px;
    height: 60px;;
}

.place {
    position: relative;
}

.place {
    position: relative;
}

.place > div {
    background: #002200;
    border-radius: 5px;
    width: 250px;
    height: 80px;
    color: #fff;
    padding: 16px;
}

.place > div:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right: 6px solid #002200;
    border-bottom: 6px solid #002200;
    border-radius: 1.4px;

    left: -4px;
    bottom: 0;

}

.place > div > h3 {
    color: #8d89b9;
    margin: 0 0 10px 0;
}

.place > div > p {
    color: #fff;
    margin: 0;
}

.place > div > time {
    position: absolute;
    bottom: 8px;
    right: 20px;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #254826;
}