.superInput {
    display: block;
    outline: none;
    border: 2px solid gray;
    margin-top: 10px;
}

.errorInput {
    outline: none;
    border: 2px solid red;
    background-color: rgba(250, 209, 192, 0.91);
}

.error {
    display: flex;
    flex-direction: column;
    color: red;
}