.slide{
    box-shadow:-2px 2px 5px darkslategrey;
    border-radius: 10px;
    position: relative;
    background: rgba(158, 202, 241, 0.5);
    width: 300px;
    left: -300px;
    height: 20px;
    transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
}
.toggle{
    font-size: 20px;
    color: crimson;
    position: absolute;
    left: 300px;
    padding-left: 5px;
    background: transparent;
}
.box {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr  ;
    grid-template-areas:
    ". . .";
}
.slide:hover{
    left: 0;
}
.link a {
    margin-top: 5px;
    max-width: border-box;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #002d5b;
}
.link a:hover {
    color: snow;
}
.link a:active {
    color: forestgreen;
}